formhack_workflow.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        20,
        60
      ],
      "id": "5162c873-872f-452b-ac72-bb2b205d5abd",
      "name": "When chat message received",
      "webhookId": "574384f7-186c-4fb8-8466-f05150b0b785"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        240,
        60
      ],
      "id": "886eff14-2359-43d1-ad48-d27d0bc9ff32",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        240
      ],
      "id": "4ef8f11f-477b-42a4-a54f-5da33bf2c5a8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yDeSjVHhAhmvD6Zz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        240
      ],
      "id": "e7d8d12f-e8d2-44a0-a333-69cc77268fd8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        20,
        -80
      ],
      "id": "719414ef-50eb-4eb5-8c61-2b855daef844",
      "name": "On form submission",
      "webhookId": "e7d9e8c4-cbd0-475e-9ce1-3442ac6263ae"
    },
    {
      "parameters": {
        "path": "9a237e6a-7c8b-4965-b1f6-4f175d96cce7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        20,
        -220
      ],
      "id": "aa52fe8b-4ba2-4d4d-87d1-c3384ee5f266",
      "name": "Webhook",
      "webhookId": "9a237e6a-7c8b-4965-b1f6-4f175d96cce7"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        660,
        60
      ],
      "id": "f2d61256-d003-4364-a75c-cc625a9b44db",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        240
      ],
      "id": "37e21d9f-e488-494e-8101-cdf65695e866",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "yDeSjVHhAhmvD6Zz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        740,
        240
      ],
      "id": "73fe145e-5a23-4a38-9979-97e1fee3e869",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        760,
        380
      ],
      "id": "a61fb272-a8cb-4df5-907a-e349802f6ca1",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When chat message received').item.json.chatInput }}",
                    "rightValue": "\"start\"",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "60ac5175-f21f-42ca-837e-3815820511dc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "353fce57-cc67-4184-81fa-07c731af6cbd",
                    "leftValue": "={{ $('When chat message received').item.json.chatInput }}",
                    "rightValue": "\"stop\"",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stop"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        -140
      ],
      "id": "ca5fc96c-a414-4015-bd2a-d584b480d15b",
      "name": "Switch"
    }
  ],
  "pinData": {
    "When chat message received": [
      {
        "json": {
          "sessionId": "5eac41123a494973a7b7d135a8d09730",
          "action": "sendMessage",
          "chatInput": "start"
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        []
      ],
      "main": [
        []
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "929f8b3d-f002-4189-9ecd-e958d3b68466",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08f7d8242082b1f39bd41bbff803ef93a095c50cd9672eafc3f388a3c744c1be"
  },
  "id": "jCtBJkuPP2RNcqpW",
  "tags": []
}